body{
	width: 85.33%;
	max-width: 970px;
	font-weight: normal;
    font-family: 'Arial', sans-serif;
    font-size: 0.99em;
	margin:3em auto;
	background-color: black;
	background-image: url("../theatre_downtown_images/stage_curtains-full.jpg");
	background-position: top center;
}

nav{
	font-size: .95em;
}

nav ul{
	overflow: hidden;
}

nav li{
	text-align: left;
	width: 10%;
	margin-left: auto 0%;
	float: left;
	height: 1.5541%;
}

ul{
	float: none;
	list-style-type: none;
}

ul li{
	color: #CDC0B0;
}

a {
	color: gold;
	font-weight:bold;
	text-decoration: none;
	outline: none;
	display: block;
	text-align: center;
}

a:hover {
	color: #CDC0B0;
	text-decoration: none;	
}	

#contact {
	color: gold;
	font-size: .7em;
	font-weight:bold;
	text-align: right;
	margin-top: 0%;
}

#description { 
	font-size: 1.25em;
	text-align: left;
	line-height: 2.5em;
}

#hours {
	text-align: left;
	font-family: 'Arial';
}

#bo_hours {
	font-family: 'Montez', cursive;
	text-align: left;
	font-size: 0.95em;
	margin-top:auto;
}

#times {
	font-family: 'Montez', cursive;
	text-align: left;
	font-size: 0.95em;
}

#prices {
	font-family: 'Montez', cursive;
	text-align: left;
	font-size: 0.95em;
}

#contribute {
	font-family:"Montez", cursive;
	color: #CDC0B0;
	text-align: left;
}

#financial {
	font-family: "Montez", cursive;
	text-align: left;
	float:none;
}


#main_photo {
	margin-left: auto;
	float: right;
}

#theatre { 
	font-size: 1.5em;
	text-align: left;
	margin-top:auto;
}

#about{
	color: #CDC0B0;
}

#celebrate {
	color:gold;
	font-family: "Montez", cursive;
	font-size: .75em;
	line-height: 0.0em;
	font-weight: bold;
	margin-left:5px;
}

#reservations {font-family: 'Montez', cursive;}

#seating {font-family: "Montez", cursive;}

label{
	color: #CDC0B0;
}

h1{
	font-weight: bold;
	font-family: 'Montez', cursive;
	color: gold;
	margin-top: 10px;
	line-height: 1.1em;
}

#Godspell{
	text-align: center;
	font-weight: bold;
	font-size: 2.0em;
}
h2{
	color: #CDC0B0;
	font-weight: bold;
	font-family: "Montez", cursive;
	text-align: center;
	font-size: 4.00em;

}


h3{
	color: #CDC0B0;
	text-align: center;
	font-family: 'Montez', cursive;
	font-size: 2.0em;
}

#coming{ text-align: left;}

h5{
	color: #CDC0B0;
	text-align: center;
	font-size: 1em;
	float: none;
}

h6{
	text-align: center;
	font-family:'Montez', cursive;
	font-size: .90em;
	color: #CDC0B0
}

#index{ margin-top: 150px;}	

#try-outs{ margin-top: 230px;}

#about-us{ margin-top: 200px;}

#buy{ margin-top: 45px;}

#join{ margin-top: 150px;}

#financial{ 
	text-align: center;
	margin-top: 140px;
}

p{
	font-family: 'Arial', sans-serif;
	font-size: .95em;
	font-weight:bold;
	color: #CDC0B0;
	text-align: left;
}

#auditions{
	font-family: 'Montez', cursive;
	color: #CDC0B0;
	text-align: center;
	font-size: 2.00em;
}

span{color: gold;}

#written{ text-align:left;}

#sherlock{
	font-family: 'Montez', cursive;
	font-size: 1.75em;
}

#suicide{
	font-family: 'Montez', cursive;
	font-size: 1.5em;
	font-weight: bold;
	text-align: left;
	margin-right: 250px;
	float: none;
}

img{
	border: 0.4875em solid tan;
	border-style: outset;
	border-radius: 0.936em;
	margin-left: auto;
	margin-right: 3.9375%;
}


@media screen and (min-width:650px) and (max-width: 959px) {
	
}
	
	
@media screen and (min-width: 479px) and (max-width: 649px) {
	#main_photo {display: none;}
	#theatre{ font-size: 1.0em;}
	#celebrate{ font-size:.75em;}
	#contact{ font-size: 0.75em;}
	#auditions{font-size: 1.75em;}
	#now_playing{ 
		margin-left: auto;
		font-size: 3.00em;}
	nav ul li{
			width:  100%;
			float: none;}
	nav ul{ padding: 0;}
	}
	
@media only screen and (max-width: 479px){
	#main_photo {display: none;}
	#theatre{ font-size: 1.0em;}
	#celebrate{ font-size: .80em;
				margin-left:auto;}
	#contact{ font-size: 0.75em;}
	#auditions{font-size: 1.75em;}
	#now_playing{ 
		margin-left: auto;
		font-size: 2.95em;}
	nav ul li{
			width:  100%;
			float: none;}
	nav ul{ padding: 0;}
}
